/* ============================ MEDIA QUERIES POUR LE RESPONSIVE WEB DEVELOPMENT =========================== */

/*============================= RESPONSIVE DESIGN POUR ECRANS DE MOINS DE 400PX =========================*/
@media (min-width: 0px) and (max-width: 400px) {
    body {
        font-size: 0.7rem;
        margin: 0.5% 0.5%;
        padding: 0.3% 0.3%;
      }

    .container {
      width: 90%;
    }

    .col1-1 {
        display: none !important;
    }

    .col1-2 {
        flex: 1 1 100%;
    }

    .col2-1 {
        flex: 1 1 100%;
    }

    .col2-2 {
        flex: 1 1 100%;
    }

    .col3-1 {
        flex: 1 1 100%;
    }

    .col3-2 {
        flex: 1 1 100%;
    }

    .col4-1 {
        flex: 1 1 100%;
    }

    .col4-2 {
        flex: 1 1 100%;
    }

    i {
        display: none !important;
    }

    .col4-1 {
        display: none;
    }

  p {
      margin-left: 0%;
  }
}


/*============================= RESPONSIVE DESIGN POUR ECRANS DE MOINS DE 500PX =========================*/  
@media (min-width: 400.1px) and (max-width: 500px) {
    body {
        font-size: 0.7rem;
        margin: 0.5% 0.5%;
      }

    .container {
      width: 90%;
      margin: 0.5% 0.5%;
      padding: 0.3% 0.3%
    }

    .col1-1 {
        display: none !important;
    }

    .col1-2 {
        flex: 1 1 100%;
    }

    .col2-1 {
        flex: 1 1 100%;
    }

    .col2-2 {
        flex: 1 1 100%;
    }

    .col3-1 {
        flex: 1 1 100%;
    }

    .col3-2 {
        flex: 1 1 100%;
    }

    .col4-1 {
        flex: 1 1 100%;
    }

    .col4-2 {
        flex: 1 1 100%;
    }

    i {
        display: none !important;
    }

    .col4-1 {
        display: none;
    }

  p {
      margin-left: 0%;
  }
}

  /*============================= RESPONSIVE DESIGN POUR ECRANS DE MOINS DE 800PX =========================*/
@media (min-width: 500.1px) and (max-width: 800px) {
    body {
      font-size: 0.7rem;
      margin: 0.5% 1%;
      padding: 0.5% 0.5%;
    }

    .container {
        width: 90%;
        padding: 1% 1%;
        flex-flow: column wrap;
    }

    .col1-2 {
        flex: 1 1 100%;
    }

    .col2-1 {
        flex: 1 1 100%;
    }

    .col2-2 {
        flex: 1 1 100%;
    }

    .col3-1 {
        flex: 1 1 100%;
    }

    .col3-2 {
        flex: 1 1 100%;
    }

    .col4-1 {
        flex: 1 1 100%;
    }

    .col4-2 {
        flex: 1 1 100%;
    }

    i {
        display: none !important;
    }

    .col4-1 {
        display: none;
    }

    p {
      margin-left: 0%;
    }

    .col1-2 h1 {
      margin: 1% 0% 0% 1%;
    }
}


/* ============================= Mise en forme générale de la page ================================= */
body
    {
        height: 100vh;
        width: 100%;
    }

.container      /* Mise en display flex direction colonnes, padding de chaque côté, break-word pour les césures */
    {
        display: flex;
        flex-direction: column;
        flex: 1 1 100%;
        word-break: break-all;
        font-size: 1rem;
        margin: 1% 3% 1%;
        padding: 1% 3% 1%;
        width: 90%;
    }

h1      /* Petit changement taille de police h1 */
    {
        font-size: 1.8rem;
    }

h3      /* donne aux titres h3 (ceux de gauche) une bande noire, couleur de la typo bleue & taille responsive + typo centrée */
    {
        color: #64B5F6;
        font-size: 1.5rem;
        background-color: black;
        text-align: center;
    }

.paul       /* un petit <span> qui sert à colorier mon prénom */
    {
        color: #64B5F6;
    }

.develo     /* sert à souligner le "develo" */
    {
        border-bottom: 1px solid #64B5F6; 
    }

h4      /* titres h4 de droite, souligner en bleu + petites modifs */
    {
        color: black;
        text-align: left;
        font-weight: bold;
        font-size: 1.3rem;
        border-bottom: 2px solid #64B5F6;
        padding-bottom: 0.5em;
        margin-left: 10%;
    }

.fa-star        /* Changement de couleur de l'icone étoile */
    {
        color: #64B5F6;
    }

/* ============================= Mise en forme de la 1ère rangée ================================= */

.columnOne      /* Mise en forme flex de la 1ère rangée */    
    {
        display: flex;
        flex-flow: row wrap;
    }

.col1-1     /* Background et largeur de la partie photo */
    {
        display: flex;
        background-color: #64B5F6;
        flex: 1 1 30%;
    }

.col1-2     /* Alignement du texte et largeur de la partie Nom + Titre */
    {
        flex: 1 1 70%;
        text-align: left;
    }

.col1-2 h1      /* N'arrivant pas à placer les Titres h1 et h2 là où je voulais j'ai recouru à l'usage de marges */
    {
        margin: 12.5% 0% 0% 10%;
    }

.col1-2 h2      /* N'arrivant pas à placer les Titres h1 et h2 là où je voulais j'ai recouru à l'usage de marges */
    {
        margin-left: 10%;
    }

.DP     /* Mise en forme de la photo avec border-radius pour la forme ronde et box-shadow pour l'ombre exterieure */
    {
        transform: scale(0.5);
        border-radius: 100%;
        max-width: 100%;
        box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
        margin: auto;
    }

/* ============================= Mise en forme de la 2ème rangée ================================= */

.columnTwo      /* Mise en forme flex de la 2ème rangée */            
    {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-end;
    }

.col2-1     /* Mise en forme largeur + couleur de fond partie Contact */
    {
        background-color: #64B5F6;
        flex: 1 1 30%;
    }

.col2-1 p       /* Encore de la gruge pour le placement du texte */
    {
        margin-left: 20px;
        margin-right: 10px;
    }

.col2-2     /* Mise en forme largeur */
    {
        flex: 1 1 70%;
    }

/* ============================ MISE EN FORME GRID DE LA SECTION FORMATION ========================== */

.grid-formation     /* Mise en forme de la grid principale */
    {
        display: grid;
        grid-template-columns: [start] 1fr [left] 4fr [center] 16fr [right] 1fr [end];
        grid-template-rows: minmax(min-content, max-content);
        grid-gap: 1%;
    }

/* MISE EN FORME GRID PARTIE OPENCLASSROOMS */

.year1
    {
        grid-column: 2 / 3;
    }

.oc     
    {
        grid-column: 3 / 4;
    }

.cotonou
    {
        grid-column: 2 / 3;
    }

.ocsuite
    {
        grid-column: 3 / 4;
    }

/* MISE EN FORME GRID PARTIE MJM */

.year2
    {
        grid-column: 2 / 3;
    }

.nantes
    {
        grid-column: 2 / 3;
    }

.mjm
    {
        grid-column: 3 / 4;
    }

.mjmsuite
    {
        grid-column: 3 / 4;
    }

/* ============================= Mise en forme de la 3ème rangée ================================= */

.columnThree        /* Mise en forme flex de la 3ème rangée */          
    {
        display: flex;
        flex-direction: row;
    }

.col3-1     /* Mise en forme largeur et bgColor partie A Propos de moi */
    {
        background-color: #64B5F6;
        flex: 1 1 30%;
    }

.col3-1 p       /* Encore de la gruge pour le placement du texte */
    {
        margin: auto 20px;
    }

.icon       /* Placement des icones HTML5 / CSS3 */
    {
        text-align: center;
    }

.col3-2     /* Mise en forme largeur partie Experience Profesionnelle */
    {
        flex: 1 1 70%;
    }

/* ============================ MISE EN FORME GRID DE LA SECTION EXP PROFESIONNELLE ========================== */ 

.grid-pro
     {
        display: grid;
        grid-template-columns: [start] 1fr [left] 4fr [center] 16fr [right] 1fr [end];
        grid-template-rows: minmax(min-content, max-content);
        grid-gap: 1%;
     }

/* MISE EN FORME GRID PARTIE CANAL+ */

.year3
     {
         grid-column: 2 / 3;
     }

.cplus
     {
        grid-column: 3 / 4;
     }

.cotonou2
     {
         grid-column: 2 / 3;
     }

.cplussuite
     {
         grid-column: 3 / 4;
     }

.cplussuite p
     {
         margin-top: 0%;
     }

/* MISE EN FORME GRID PARTIE HOTEL DE TOIRAS */
    
.year4
     {
         grid-column : 2 / 3;
     }

.toiras
     {
         grid-column: 3 / 4;
     }

.stmartin
     {
         grid-column: 2 / 3;
     }

.toirassuite
     {
         grid-column: 3 / 4;
     }

/* ============================= Mise en forme de la 4ème rangée ================================= */

.columnFour     /* Mise en forme flex de la 3ème rangée */     
    {
        display: flex;
        flex-direction: row;
    }

.col4-1     /* Mise en forme largeur et bgColor de la partie Loisirs */
    {
        background-color: #64B5F6;
        flex: 1 1 30%;
    }

.kiffe      /* Mise en forme et placement des icones Loisirs */
    {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

.col4-2     /* Mise en forme largeur de la partie Recommandations */
    {
        flex: 1 1 70%;
        text-align: center;
    }

