@font-face
{
font-family: "Roboto-Regular";
src: url(fonts/roboto/Roboto-Regular.ttf) format("ttf");
}

/* ============================= Mise en forme générale de la page ================================= */

body
    {
        height: 100vh; /*Hauteur du corps de la page */
        width: 100%; /* Largeur du corps de la page */
    }

.container      /* Mise en display flex direction colonnes, padding de chaque côté, break-word pour les césures */
    {
        display: flex;      
        flex-direction: column;     
        flex: 1 1 100%;       
        font-size: 1rem;       
        margin: 0rem 0.2rem 0.3rem 0.2rem;       
        padding: 0rem 0.2rem 0.2rem;      
        width: 90vw;
    }

    @media (max-width: 800px) {     /* Modification quand l'écran fait 800 pixels ou moins de large pour le .container */
        .container {
            width: 94vw;        
            margin: 0rem 0.2rem;        
            padding: 0.1rem 0.1rem 0rem 0.1rem;         
        }
    }  

.btn
    {
        background-color: #64B5F6;
        align-self: flex-end;
    }

    @media (max-width: 800px) {
        .btn {
            margin-bottom: 1rem;
            margin-left: 0rem;
        }
    }


h1      /* Modification des titres h1 */
    {
        font-size: 1.8rem;  
        font-family: "Roboto-Regular";    
    }

h3      /* Modification des titres h3 */
    {
        color: #64B5F6;     
        font-size: 1.5rem;      
        background-color: black;        
        text-align: center;     
        margin: 0.2rem 0rem;
        font-family: "Roboto-Regular"; 
    }

.paul       /* <span> qui entoure "PAUL" */
    {
        color: #64B5F6;     
    }

.develo     /* <span> qui entoure "DEVELO" */
    {
        border-bottom: 1px solid #64B5F6;       
    }

h4      /* Modification des titres h4 */
    {
        color: black;       
        text-align: left;       
        font-weight: bold;      
        font-size: 1.3rem;      
        border-bottom: 2px solid #64B5F6;       
        padding-bottom: 0.35rem;      
        margin-left: 3rem;       
        margin-top: 0rem;   
        font-family: "Roboto-Regular";  
    }

    @media (max-width: 800px) {     /* Modification quand l'écran fait 800px ou moins pour les titres h4 */
        h4 {
            text-align: center;     
            margin: 1.3rem 0rem 0.7rem 0rem;      
            padding: 0.3rem;      
        }
    }
.fa-star        /* Modification de l'icone étoile */
    {   
        color: #64B5F6;     
    }

.DP2 {      /* Modification de l'image secondaire */
    display: none;      
    border-radius: 100%;        
    max-width: 100%;       
    box-shadow: 5px 5px 5px rgba(0,0,0,0.3);        
    max-height: 15vh;       
    margin: auto; 
}

    @media (max-width: 800px) {     /* Modification de .DP2 quand l'écran fait 800px ou moins */
        .DP2 {
            display: block;  
            z-index: 4;     
        }
    }

.mail
    {
        word-break: break-all;
    }

.site
    {
        word-break: break-all;
    }

p
    {
        font-family: "Roboto-Regular";
    }

h5
    {
        font-family: "Roboto-Regular";
    }

/* ============================= Mise en forme de la 1ère rangée ================================= */

.columnOne      /* Modification de la 1ère rangée de la page */    
    {
        display: flex;      
        flex-flow: row wrap;        
    }

.col1-1     /* Modification du bloc contenant la photo */
    {
        display: flex;      
        background-color: #64B5F6;      
        flex: 1 1 30%;      
    }

    @media (max-width: 800px) {     /* Modification de .col1-1 quand l'écran fait 800px ou moins */
    .col1-1 {
        display: none;      
        }
    }

.col1-2     /* Modification du bloc Nom et Titre */
    {
        flex: 1 1 70%;
        text-align: left;
    }

    @media (max-width: 800px) {      /* Modification de .col1-2 quand l'écran fait 800px ou moins */
        .col1-2 {
            flex: 1 1 100%;
            text-align: center;
            justify-self: center;
            margin: 2rem 0rem;
            } 
        }

.col1-2 h1      /* Placement du titre h1 via les marges */
    {
        margin: 8rem 0rem 0rem 3.5rem;
    }

    @media (max-width: 800px) {     /* Modification des marges quand l'écran fait 800px ou moins */
        .col1-2 h1 {
            text-align: center;
            margin: 0rem 0rem;
            }
        }
        
        @media (max-width: 360px) {     /* Modification de la taille de typo quand l'écran fait 360px ou moins */
            .col1-2 h1 {
                font-size: 1.6rem;
            }
        }

.col1-2 h2      /* Placement des titres h2 via les marges */
    {
        margin-left: 3.5rem;
        margin-top: 0.5rem;
        margin-bottom: 7rem;
        font-family: "Roboto-Regular";
    }


    @media (max-width: 800px) {     /* Modification des marges quand l'écran fait 800px ou moins */
        .col1-2 h2 {
            margin: 0.5rem 0rem 1rem 0rem;
            text-align: center;
            }
        }
    
.DP     /* Mise en forme de la photo principale avec border-radius pour la forme ronde et box-shadow pour l'ombre exterieure */
    {
        transform: scale(0.5);
        border-radius: 100%;
        max-width: 100%;
        box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
        margin: auto;
    }


/* ============================= Mise en forme de la 2ème rangée ================================= */

.columnTwo      /* Mise en forme flex de la 2ème rangée */            
    {
        display: flex;
    }

    @media (max-width: 800px) {
        .columnTwo {
            display: flex;
            flex-flow: row wrap;
        }
    }

.col2-1     /* Mise en forme largeur + couleur de fond partie Contact */
    {
        background-color: #64B5F6;
        flex: 1 1 30%;
    }

    @media (max-width: 800px) {      /* Modification de .col2-1 quand l'écran fait 800px ou moins */
        .col2-1 {
            flex: 1 1 100%;
            line-height: 1.2;
            text-align: center;
            justify-self: center;
            margin-bottom: 1rem;
            } 
        }

.col2-1 h3
{
    margin-bottom: 3rem;
}

    @media (max-width: 800px) {
        .col2-1 h3 {
            margin-bottom: 1rem;
        }
    }

.col2-1 p       /* Placement des paragraphs au sein de .col2-1 */
    {
        margin-left: 0.8rem;
        margin-right: 0.5rem;
        line-height: 1.4;
    }

.col2-2     /* Mise en forme largeur */
    {
        flex: 1 1 70%;
    }
    
    @media (max-width: 800px) {
        .col2-2 {
            flex: 1 1 100%;
            margin-bottom: 1rem;
        }
    }

/* ============================ MISE EN FORME GRID DE LA SECTION FORMATION ========================== */

.grid-formation     /* Mise en forme de la grid principale */
    {
        display: grid;
        grid-template-columns: [start] 1fr [left] 4fr [center] 16fr [right] 1fr [end];
        grid-template-rows: minmax(min-content, max-content);
        grid-gap: 1%;
        margin-bottom: 3rem;
    }

    @media (max-width: 800px) {
        .grid-formation{
            grid-template-columns: auto;
            margin-bottom: 1rem;
        }
    }

.grid-formation p
    {
        line-height: 1.4;
    }

/* MISE EN FORME GRID PARTIE OPENCLASSROOMS */

.year1
    {
        grid-column: 2 / 3;
    }

.oc     
    {
        grid-column: 3 / 4;
    }

.cotonou
    {
        grid-column: 2 / 3;
    }

.ocsuite
    {
        grid-column: 3 / 4;
    }

/* MISE EN FORME GRID PARTIE MJM */

.year2
    {
        grid-column: 2 / 3;
    }

.nantes
    {
        grid-column: 2 / 3;
    }

.mjm
    {
        grid-column: 3 / 4;
    }

.mjmsuite
    {
        grid-column: 3 / 4;
    }

/* ============================= Mise en forme de la 3ème rangée ================================= */

.columnThree        /* Mise en forme flex de la 3ème rangée */          
    {
        display: flex;
        flex-flow: row wrap;
    }

    @media (max-width: 800px) {
        .columnThree {
            display: flex;
            flex-direction: column-reverse;
        }
    }

.col3-1     /* Mise en forme largeur et bgColor partie A Propos de moi */
    {
        background-color: #64B5F6;
        flex: 1 1 30%;
    }

    @media (max-width: 800px) {
        .col3-1 {
            flex: 1 1 100%;
            margin-bottom: 1rem;
        }
    }

.col3-1 p       /* Placement de texte via marges */
    {
        margin: 2rem 1rem 1rem 1rem;
        line-height: 1.4;
    }

.col3-1 h3
    {
        margin-bottom: 1rem;
    }

    @media (max-width: 800px) {
        .col3-1 h3 {
            margin-bottom: 1rem;
        }
    }

.icon       /* Placement des icones HTML5 / CSS3 */
    {
        text-align: center;
        margin-bottom: 1rem;
    }

.col3-2     /* Mise en forme largeur partie Experience Profesionnelle */
    {
        flex: 1 1 70%;
    }

    @media (max-width: 800px) {
        .col3-2 {
            flex: 1 1 100%;
            margin-bottom: 1rem;
        }
    }

.col3-2 h4
    {
        line-height: 1.5;
    }

/* ============================ MISE EN FORME GRID DE LA SECTION EXP PROFESIONNELLE ========================== */ 

.grid-pro
     {
        display: grid;
        grid-template-columns: [start] 1fr [left] 4fr [center] 16fr [right] 1fr [end];
        grid-template-rows: minmax(min-content, max-content);
        grid-gap: 1%;
        margin-bottom: 3rem;
     }

     @media (max-width: 800px) {
        .grid-pro{
            grid-template-columns: auto;
            margin-bottom: 1rem;
        }
    }

    .grid-pro p {
        line-height: 1.4;
        margin-bottom: 1rem;
    }



/* MISE EN FORME GRID PARTIE CANAL+ */

.year3
     {
         grid-column: 2 / 3;
     }

.cplus
     {
        grid-column: 3 / 4;
     }

.cotonou2
     {
         grid-column: 2 / 3;
     }

.cplussuite
     {
         grid-column: 3 / 4;
     }

.cplussuite p
     {
         margin-top: 0rem;
     }

/* MISE EN FORME GRID PARTIE HOTEL DE TOIRAS */
    
.year4
     {
         grid-column : 2 / 3;
     }

.toiras
     {
         grid-column: 3 / 4;
     }

.stmartin
     {
         grid-column: 2 / 3;
     }

.toirassuite
     {
         grid-column: 3 / 4;
     }

/* ============================= Mise en forme de la 4ème rangée ================================= */

.columnFour     /* Mise en forme flex de la 3ème rangée */     
    {
        display: flex;
        flex-flow: row wrap;
    }

.col4-1     /* Mise en forme largeur et bgColor de la partie Loisirs */
    {
        background-color: #64B5F6;
        flex: 1 1 30%;
    }

    @media (max-width: 800px) {
        .col4-1 {
            flex: 1 1 100%;
            margin-bottom: 1rem;
        }
    }

.col4-1 h3 {        /* Placement des icones via la marge du bas de "Loisirs" */
    margin-bottom: 2.7rem;
}

    @media (max-width: 800px) {
        .col4-1 h3 {
            margin-bottom: 0.5rem;
        }
    }


.kiffe      /* Mise en forme et placement des icones Loisirs */
    {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    @media (max-width: 800px) {
        .kiffe {
            transform: scale(0.7);
        }
    }

.col4-2     /* Mise en forme largeur de la partie Recommandations */
    {
        flex: 1 1 70%;
        text-align: center;
    }

    @media (max-width: 800px) {
        .col4-2 {
            flex: 1 1 100%;
        }
    }
